

body {
  background-image: url(fondo.jpg);
  background-size: cover;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  color: black;
}



.cuadrado1 {
  grid-area: menu;
  width: 250px;
  height: 650px;
  border: 5px solid rgb(245, 207, 38);
  background-color: rgb(240, 182, 22);
  margin-top: 70px;
  margin-left: -10px;
}


#fotoperfil {
  width:50%;
}


h5 {
  text-align: center;
  color: rgb(211, 211, 211);
  font-size: 14px;
}

#nombre {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.icono {
  text-align:right;
  width: 5%;
}

.iconoo {
  text-align:right;
  width: 1%;
}

.vengadores {
  width:50%;
}


img {
  width:20%
}

.gif {
  width:20%;
}


br{
  font-size: 5px;
}

.cuadrado2 {
  border: 5px solid rgb(245, 207, 38);
  background-color: rgb(240, 182, 22);
  grid-area: main;
  margin-top: 70px;
  margin-right: -10px;
}

#Texto{
  margin: 25px;
  margin-top: -19px;
  margin-bottom: -19px;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'menu main main main main right'
    'menu footer footer footer footer footer';
  padding: 10px;
}

h4 {
    text-align:justify;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;

}

h1 {
    text-align: center;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

h6 {
  text-align:center;
  color:rgb(75, 2, 2);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  font-family: cursive;

}
#content {
  resize: vertical;
}

.center_plane {
  width: 40px;
  position: absolute;
}

.cuadrado1, .cuadrado2{
  padding: 15px;
  /*shadows*/
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
}

#message {
  width:390px;
  margin:10px 50px;
  padding:20px;
  font-size:italic;
  background-image: url(tela.jpg);
}

td {
    text-align: center;
    color: rgb(75, 2, 2);
    font-family: cursive;
    font-size: 15px;
}

