

#canvas {
    background-color: rgba(127, 206, 131, 0.932);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(129, 12, 144);
    margin-left: 650px;
    margin-top: 50px;
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  
  